@page
@model RazorPages2.Pages.IndexModel
@{
    int hour = DateTime.Now.Hour;
    int day = Convert.ToInt32(DateTime.Now.DayOfWeek);
}

// 1 // использование управляющей конструкции прямо на странице 
// в теле конструкции может быть код-html
@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Pages Sandbox</title>
</head>
<body>
    <h1>Welcome to Razor Pages Sandbox!</h1>
    @if (hour >= 0 && hour < 6)
    {
        <p>Ночь</p>
    } 
    else if (hour >= 6 && hour < 12) {
        <p>Утро</p>
    }
    else if (hour >= 12 && hour < 18) {
        <p>День</p>
    }
    else {
        <p>Вечечр</p>
    }
</body>
</html> *@

// 2
@{
    string[] toDos = {
        "Сходить в магазин",
        "Проверить домашки",
        "Сделать домашки",
        "Погулять с собакой"
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Pages Sandbox</title>
</head>
<body>
    <h1>Welcome to Razor Pages Sandbox!</h1>

    <h2>ToDo List</h2>
    <ol>
        @foreach (string toDo in toDos) {
            <li>@toDo</li>
        }
    </ol>
</body>
</html>

// 3
// в идеале на странице не должно быть никаких вычислений, только логика отображения
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Razor Pages Sandbox!</title>
    <style>
        .weekday {
            font-family: Consolas;
        }
        .today {
            font-weight: bold;
            text-decoration: underline;
        }
        .weekend {
            color: red;
        }
    </style>
</head>
<body>
    <h1>@Model.Title</h1>

    <ol>
        @foreach (int dayNumber in Model.DayByNumber.Keys) 
        {
            string classValue = "weekday";
            if (dayNumber == @Model.TodayNumber) 
            {
                classValue += " today";
            }
            if (dayNumber == 6 || dayNumber == 0)
            {
                classValue += " weekend";
            }
            <li class="@classValue">@Model.DayByNumber[dayNumber]</li>
        }
    </ol>
</body>
</html>